* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ddd;
}
h1 {
  text-align: center;
  padding: 40px 0;
}
.game-board {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 5px;
  column-gap: 5px;
  &__box {
    width: 100px;
    height: 100px;
    background-color: #fff;
    cursor: pointer;
  }
}
.overlay {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  display: grid;
  place-content: center;
  text-align: center;
  opacity: 1;
  pointer-events: all;
  transition: all 0.3s ease;
  &__message {
    height: 150px;
    width: 150px;
    background-color: #ccf;
    color: #fff;
    text-transform: capitalize;
    font-size: 25px;
    display: grid;
    place-content: center;
    padding: 0 20px;
  }
}

.hide {
  opacity: 0;
  pointer-events: none;
}
